.container{
    margin-top: 50px;
    background-color: #73B4FF;
    padding: 20px;
    box-shadow: 15px 15px 15px #73b4ff7e;
    border-radius: 7px;
   
}

.form-group{
    position: relative;
}

.error-message{
    position: absolute;
    color: #6e2a2a;
}

label{
    font-size: 14px;
}

h3, .form-check-label{
    color: #E8EFFF;
}
  input{
    width: 100%;
    padding: 5px;
    border:none;/*1px solid #D94559;*/
    border-radius: 5px;
    outline: none;
    background-color: #E8EFFF;
  }
.form-text{
    font-size: 13px;
}

.btn-submit, .btn-submit:hover{
    background-color: #dc3545;
    color: white;
}

.btn-submit:disabled {
    background-color: #dc35455e; 
    cursor: not-allowed;
    color: white;
    border: none;
  }

#passwordHelpBlock{
    font-size: 12px;
}

/* Styles pour les boutons sociaux d'inscription */
.btn-social {
    
    color: #fff;
    padding: 8px 18px;
    border: none;
    cursor: pointer;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10px;
    border-radius: 5px;
    width: 60%;
  }
.btn-social:hover{
    color: white;
}

  
  .btn-facebook, .btn-facebook:hover {
    background-color: #3b5998; /* Couleur Facebook */
  }
  
  .btn-google, .btn-google:hover {
    background-color: #dd4b39; /* Couleur Google */
  }
  
/************* Pour la responsivité ******************/

@media only screen and (max-width: 600px) {
    body{
        background-color: #73B4FF;
    }
    .container {
      width: 100%;
      margin-top: 0;
    }
    .forImg{
        display: none;
    }
    .btn-social{
        width: 100%;
        padding: 8px 18px;
        margin: 0;
        margin-top: 20px;
    }
  }